body {
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    display: flex;
}
main>div {
    padding: 10px 20px;
}
#left {
    width: 70%;
    margin-left: 8rem;
}

#ryt {
    border: 1px ridge gray;
    padding: 0;
    margin: 30px 0;
    width: 30%;
    
}
#ryt>div {
    border-bottom: 1px ridge gray;
    padding: 10px;
    
}
#ryt>div>a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h1 {
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 4px;
}
#left a {
    display: block;
    text-decoration: none;
    padding: 4px;
}